body {
  margin: 0;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  */
  background-color: #282c34;
  color: white;
}

* {
  box-sizing: border-box;
}

.App {
  height: 80vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  display: flex;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #f5f5f5;
  border-top: 3px solid #222;

  transform: rotata(0deg);
  animation: loading 600ms linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
